body{background-color:rgb(211,217,227);
    margin-left:20%;
    margin-right:20%}
p{background-color:rgb(211,217,227);color:DarkSlateGrey;font-family:arial;font-size:18px}
h1{color:DarkSlateGrey}
h2{color:SlateGrey}